.fileOverlay {
    position: absolute;
    top: 0px;
    left: 15px;
    height: 476px;
    width: 673px;
    overflow: hidden;
}
canvas {
	border: 1px dashed grey;
	padding: 1px;
  width: 673.6px;
  height: 476px;
}
